{
    auto_https off
    admin off
    frankenphp
}

:80 {
    root * /srv/app/docroot
    encode zstd gzip

    header {
        Cross-Origin-Opener-Policy "same-origin"
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
        -ETag
    }

    @static path *.avif *.css *.gif *.ico *.jpg *.js *.mp3 *.png *.svg *.webp
    header @static Cache-Control "public, max-age=31536000, immutable"

    handle_errors 400 401 403 404 500 {
        rewrite * /{err.status_code}.html
        file_server
    }

    php_server
}
