# Developer files
.git
.github
.husky
.idea
.vscode

# Database, provided zips and original images
*.accdb
*.zip
src/images

# Local dev dependencies and scripts
*.phar
node_modules
scripts/SentenceSimilarityGroup
vendor

# Temporary files
.php-cs-fixer.cache
.phpunit.result.cache
tmp/*.html
tmp/*.json
tmp/*.tar
tmp/github
test-results
