# This file filters what gets sent to the Docker daemon as build context during
# image builds, improving build performance.
#
# Note that volume mounts are not affected.

# Developer files
.git
.github
.idea
.vscode

# Database, provided zips and original images
*.accdb
*.zip
images

# Local dev dependencies and scripts
*.phar
node_modules
vendor

# Temporary files
.php-cs-fixer.cache
.phpunit.result.cache
test-results
tmp/github
