# Unnecessary developer files
*.sublime-workspace
.DS_Store
.idea/
.vscode/
sftp-config.json

# The original database file (MS Access) and provided zipped files
/*.accdb
/*.zip

# Unnecessary provided files
.picasa.ini

# Local settings files
*.override.yml
.env
db_settings.local.php
settings.local.json

# Local dependencies
*Brewfile.lock.json
node_modules/
vendor/

# Temporary files
*.generated.sh
*.report.html
.php-cs-fixer.cache
.phpunit.result.cache
/test-results/
/tmp/*.html
/tmp/og/
/tmp/*.json
/tmp/cv/
/tmp/github/
/data/reports/test_tmp_*.txt
