includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  level: 9
  checkBenevolentUnionTypes: true
  reportAlwaysTrueInLastCondition: true
  reportAnyTypeWideningInVarTag: true
  reportPossiblyNonexistentConstantArrayOffset: true
  paths:
    - src
    - docroot
    - scripts
  excludePaths:
    - *.generated.php
    - */third_party/*
    - docroot/admin/apc.conf.php
  ignoreErrors:
    - identifier: property.onlyRead
    - identifier: property.uninitializedReadonly
    - message: '#Cannot call method (execute|fetch|fetchAll|fetchColumn|fetchObject)\(\) on PDOStatement\|false#'
