includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  # Enforce snake case and other opinionated rules
  - vendor/pereorga/phpstan-rules/rules.neon
parameters:
  level: 9
  checkBenevolentUnionTypes: true
  reportAlwaysTrueInLastCondition: true
  reportAnyTypeWideningInVarTag: true
  reportPossiblyNonexistentConstantArrayOffset: true
  paths:
    - docroot
    - scripts
    - src
  excludePaths:
    - */third_party/*
  ignoreErrors:
    # Some objects are filled via PDO, so readonly properties may appear uninitialized/unused
    -
      identifier: property.uninitializedReadonly
      path: src/common.php
    -
      identifier: property.onlyRead
      path: src/common.php
    -
      identifier: property.uninitializedReadonly
      path: src/pages/paremiotipus_functions.php
    -
      identifier: property.onlyRead
      path: src/pages/paremiotipus_functions.php
